{{ $personalStyle := resources.Get "css/style.css" }}
{{ $bulmaSass := resources.Get "bulma/bulma.sass" }}
{{ $options := (dict "outputStyle" "nested" "includePaths" (slice "assets/bulma" "assets/bulma/sass" "targetPath" "css/bulma.css" )) }}
{{ $bulma := $bulmaSass | resources.ToCSS $options }}

{{ $allCss := slice $personalStyle }}
{{ $css := $allCss | resources.Concat "css/main.css" }}

<link href="{{ $bulma.Permalink }}" rel="stylesheet" type="text/css"/>
<link href="{{ $css.Permalink }}" rel="stylesheet" type="text/css"/>

{{ $custom := resources.Get "js/custom.js" }}

{{ $js := slice $custom | resources.Concat "js/bundle.js" }}

<script src="{{ $js.Permalink }}"></script>

